html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #fd91bc;
  border: none;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
  background: #f573b8;
}

::-webkit-scrollbar-track {
  background: #f0d3e2;
  border: none;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.telegram-left {
  height: 100vh;
}

.group::before,
.channel::before {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
  content: "";
}

.group::before {
  background-image: url("../img/group.svg");
}

.channel::before {
  background-image: url("../img/channel.svg");
}

.text-pink,
a.text-pink:hover {
  color: rgb(231, 141, 156);
}

.modal-btn {
  font-size: 19px;
}

.border-right,
.border-bottom,
.border-top,
.chat-list-item {
  border-color: rgb(216, 142, 154)!important;
}

.chat-list-item,
.chat-list-item:hover {
  background-color: transparent;
}

.search-input:focus {
  box-shadow: 0 0 0 0.2rem palevioletred;
}

.file-input-label {
  padding-left: 4px;
  padding-right: 4px;
}

.file-input {
  z-index: -1;
}

.file-input-img {
  width: 40px;
  height: 40px;
}

.user {
  font-size: 14px;
}

.user-file {
  color: palevioletred;
}

.list-group-item.active {
  color: #495057;
  background-color:pink;
  border-color: palevioletred;
}

.message-time {
  bottom: 1px;
  right: 7px;
}

.message-box-content {
  max-width: 75%;
  min-width: 50px;
}

.messaging-btn {
  padding-left: 10.5px;
  padding-right: 10.5px;
}

.messaging-btn-link {
  padding-left: 11.5px;
  padding-right: 11.5px;
}

.modal-open-btn:focus,
.messaging-btn-link:focus,
.messaging-btn:focus,
.modal-close-btn:focus {
  background-color: pink;
  box-shadow: none;
}

.badge-primary {
  background-color: rgb(224, 130, 162);
}

.settings-modal-box.fade .settings-modal-dialog {
  transform: translate(-100%, 0);
}

.settings-modal-box.show .settings-modal-dialog {
  transform: translate(0, 0);
}

.modal-close-btn {
  width: 28px;
  height: 28px;
  font-size: 28px;
  line-height: 18px;
  background-image: url("../img/close-btn.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
}

.ask-question-link::before {
  display: block;
  width: 24px;
  height: 24px;
  content: "";
}
