html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.telegram-left,
.telegram-middle {
  height: 100vh;
}

.group::before,
.channel::before {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
  content: "";
}

.group::before {
  background-image: url("../img/group.svg");
}

.channel::before {
  background-image: url("../img/channel.svg");
}

.modal-btn {
  font-size: 19px;
}

.user {
  font-size: 14px;
}

.settings-modal {
  max-width: 350px;
}

.modal-close-btn {
  width: 28px;
  height: 28px;
  font-size: 28px;
  line-height: 18px;
  background-image: url("../img/close-btn.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
}
